.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea
.gradle
build/
Thumbs.db
*.apk
*.ap_
*.dex
*.class
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*.iml
.signing/
local.properties
com_crashlytics_export_strings.xml